<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Actividad1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A38911F81E82C7B600A17954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A389120C1E82C7B700A17954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A38912171E82C7B700A17954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
